PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://soumyasingh0804_db_user:Singh08@ac-6ktm5q9-shard-00-00.d8sg66c.mongodb.net:27017,ac-6ktm5q9-shard-00-01.d8sg66c.mongodb.net:27017,ac-6ktm5q9-shard-00-02.d8sg66c.mongodb.net:27017/skillsphere?ssl=true&replicaSet=atlas-lnbbrv-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=replace_with_a_long_random_secret
JWT_EXPIRE=7d
GEMINI_API_KEY=AQ.Ab8RN6Lm5qkmfITDPJ5di1jNB4BsacOEM1Xl0JHY8D90SXVuyQS
CLIENT_URL=http://localhost:5173